@model Chuyenphatnhanh.Models.TariffMstForm

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TARIFF_MST</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DELETE_FLAG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DELETE_FLAG)
        </dd> 

        <dt>
            @Html.DisplayNameFor(model => model.WEIGHT_FROM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WEIGHT_FROM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WEIGHT_TO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WEIGHT_TO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DISTANCE_FROM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISTANCE_FROM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DISTANCE_TO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISTANCE_TO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRICE)
        </dd>

    </dl
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.DELETE_FLAG)
        @Html.HiddenFor(model => model.MOD_USER_NAME)
        @Html.HiddenFor(model => model.REG_USER_NAME)
        @Html.TextBoxFor(model => model.MOD_DATE, "{0:dd/MM/yyyy HH:mm:ss.fff}", htmlAttributes: new { @type = "hidden" })
        @Html.TextBoxFor(model => model.REG_DATE, "{0:dd/MM/yyyy HH:mm:ss.fff}", htmlAttributes: new { @type = "hidden" })
        @Html.HiddenFor(model => model.TARIFF_ID)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
