@model IEnumerable<Chuyenphatnhanh.Models.TariffMstForm>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WEIGHT_FROM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WEIGHT_TO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DISTANCE_FROM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DISTANCE_TO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRICE)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WEIGHT_FROM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WEIGHT_TO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DISTANCE_FROM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DISTANCE_TO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PRICE)
                </td>
                <td>

                    @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.Edit, "Edit", new { id = item.TARIFF_ID }) |
                    @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.View, "Details", new { id = item.TARIFF_ID }) |
                    @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.Delete, "Delete", new { id = item.TARIFF_ID })
                </td>
            </tr>
        }
    </tbody>

</table>
