@model Chuyenphatnhanh.Models.CustMstForm

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<div>
    <h4>CUST_MST</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DELETE_FLAG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DELETE_FLAG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REG_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REG_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOD_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOD_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REG_USER_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REG_USER_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOD_USER_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOD_USER_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUST_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHONE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHONE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEFAULT_ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEFAULT_ADDRESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEFAULT_COUNTRY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEFAULT_COUNTRY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEFAULT_PROVINCE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEFAULT_PROVINCE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEFAULT_DISTRICT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEFAULT_DISTRICT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CUST_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
