@model IEnumerable<Chuyenphatnhanh.Models.CUST_MST>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutList.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DELETE_FLAG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REG_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MOD_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REG_USER_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MOD_USER_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUST_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHONE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEFAULT_ADDRESS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEFAULT_COUNTRY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEFAULT_PROVINCE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEFAULT_DISTRICT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DELETE_FLAG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REG_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MOD_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REG_USER_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MOD_USER_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUST_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHONE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEFAULT_ADDRESS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEFAULT_COUNTRY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEFAULT_PROVINCE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEFAULT_DISTRICT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CUST_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CUST_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CUST_ID })
        </td>
    </tr>
}

</table>
