@model Chuyenphatnhanh.Models.UserMstForm

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <ul class="ul-box">
        <li class="col-md-8 col-xs-12 center">
            @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <span class="title-money full-w pst-tootip" style="border-bottom: 1px solid #52b256;">
                    USER_MST
                </span>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.USER_NAME, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="frm-edit-client col-md-8">
                        @Html.EditorFor(model => model.USER_NAME, new { htmlAttributes = new { @class = "col-xs-12" } })
                        @Html.ValidationMessageFor(model => model.USER_NAME, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PASSWORD, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="frm-edit-client col-md-8">
                        @Html.EditorFor(model => model.PASSWORD, new { htmlAttributes = new { @class = "col-xs-12" } })
                        @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NUMBER_LOGIN_FAIL, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="frm-edit-client col-md-8">
                        @Html.EditorFor(model => model.NUMBER_LOGIN_FAIL, new { htmlAttributes = new { @class = "col-xs-12" } })
                        @Html.ValidationMessageFor(model => model.NUMBER_LOGIN_FAIL, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LAST_CHANGE_PASS, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="frm-edit-client col-md-8">
                        @Html.EditorFor(model => model.LAST_CHANGE_PASS, new { htmlAttributes = new { @class = "col-xs-12" } })
                        @Html.ValidationMessageFor(model => model.LAST_CHANGE_PASS, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.OLD_PASSWORD, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="frm-edit-client col-md-8">
                        @Html.EditorFor(model => model.OLD_PASSWORD, new { htmlAttributes = new { @class = "col-xs-12" } })
                        @Html.ValidationMessageFor(model => model.OLD_PASSWORD, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ADDRESS, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="frm-edit-client col-md-8">
                        @Html.EditorFor(model => model.ADDRESS, new { htmlAttributes = new { @class = "col-xs-12" } })
                        @Html.ValidationMessageFor(model => model.ADDRESS, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PHONE, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="frm-edit-client col-md-8">
                        @Html.EditorFor(model => model.PHONE, new { htmlAttributes = new { @class = "col-xs-12" } })
                        @Html.ValidationMessageFor(model => model.PHONE, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="frm-edit-client">
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "link-back" })<input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </li>
</ul>
</div>