@model Chuyenphatnhanh.Models.UserConfigMstForm

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<div>
    <h4>USER_CONFIG_MST</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DELETE_FLAG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DELETE_FLAG)
        </dd> 
        <dt>
            @Html.DisplayNameFor(model => model.User_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Branch_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role_Name)
        </dd>

        

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.USER_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
