@model IEnumerable<Chuyenphatnhanh.Models.UserConfigMstForm>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branch_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role_Name)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Branch_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role_Name)
                </td>
                
                <td>

                    @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.Edit, "Edit", new { id = item.USER_ID }) |
                    @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.View, "Details", new { id = item.USER_ID }) |
                    @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.Delete, "Delete", new { id = item.USER_ID })

                </td>
            </tr>
        }
    </tbody>

</table>
