@model IEnumerable<Chuyenphatnhanh.Models.BillHdrTblForm>
@using Chuyenphatnhanh.Util
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutList.cshtml";
}
@{
    var _session = (Operator)Session[Chuyenphatnhanh.Util.Contant.SESSIONLOGED];
    if (_session == null)
    {
        _session = new Operator();
    }
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BILL_HDR_ID)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.AddressFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressCurrent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BILL_HDR_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressCurrent)
                </td> 

                <td>
                    @if (Contant.NHAN_HANG.Equals(item.STATUS.Trim()))
                    {
                        @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.Edit, "Edit", "Bill", new { id = item.BILL_HDR_ID }, null)
                        @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.F_ChuyenHang, "TranferBranch", "Bill",  new { id = item.BILL_HDR_ID }, null)
                        @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.F_GiaoHang, "Delivery", "Bill", new { id = item.BILL_HDR_ID }, null) 
                        @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.F_HuyDon, "Cancle", "Bill", new { id = item.BILL_HDR_ID }, null)
                        @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.Print, "Report", new { id = item.BILL_HDR_ID }, new { target = "_blank" })

                    }
                    @if (Contant.DANG_CHUYEN_HANG.Equals(item.STATUS.Trim()))
                    {
                        @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.F_ChuyenHangThanhCong, "TranferBranchComplete", "Bill", new { id = item.BILL_HDR_ID }, null)
                        @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.Print, "Report", new { id = item.BILL_HDR_ID }, new { target = "_blank" })

                    }

                    @if (Contant.CHUYEN_HANG_THANH_CONG.Equals(item.STATUS.Trim()))
                    {
                        @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.F_ChuyenHang, "TranferBranch", "Bill", new { id = item.BILL_HDR_ID }, null) 
                        @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.F_GiaoHang, "Delivery", "Bill", new { id = item.BILL_HDR_ID }, null) 
                        @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.F_HuyDon, "Cancle", "Bill", new { id = item.BILL_HDR_ID }, null)
                        @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.Print, "Report", new { id = item.BILL_HDR_ID }, new { target = "_blank" })

                    }
                    @if (Contant.DANG_GIAO_HANG.Equals(item.STATUS.Trim()))
                    {
                        @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.F_GiaoHangThanhCong, "DeliveryComplete", "Bill", new { id = item.BILL_HDR_ID }, null) 
                        @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.F_HuyDon, "Cancle", "Bill", new { id = item.BILL_HDR_ID }, null)
                        @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.Print, "Report", new { id = item.BILL_HDR_ID }, new { target = "_blank" })

                    }
                    @if (Contant.GIAO_HANG_THANH_CONG.Equals(item.STATUS.Trim()))
                    {
                        @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.View, "Details", "Bill", new { id = item.BILL_HDR_ID }, null)
                        @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.Print, "Report", new { id = item.BILL_HDR_ID }, new { target = "_blank" })

                    }
                    @if (Contant.HUY_DON_HANG.Equals(item.STATUS.Trim()))
                    {
                        @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.F_ChuyenHangTraLai, "TranferCancel", "Bill", new { id = item.BILL_HDR_ID }, null)
                        @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.F_GiaoHangTralai, "DeliveryCancel", "Bill", new { id = item.BILL_HDR_ID }, null)
                        @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.Print, "Report", new { id = item.BILL_HDR_ID }, new { target = "_blank" })

                    }
                    @if (Contant.DANG_CHUYEN_HANG_TRA.Equals(item.STATUS.Trim()))
                    {
                        @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.F_LuuKhoHangTraLai, "TranferCancelComplete", "Bill", new { id = item.BILL_HDR_ID }, null)
                        @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.Print, "Report", new { id = item.BILL_HDR_ID }, new { target = "_blank" })

                    }
                    @if (Contant.CHUYEN_HANG_TRA_THANH_CONG.Equals(item.STATUS.Trim()))
                    {
                        @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.F_ChuyenHangTraLai, "TranferCancel", "Bill", new { id = item.BILL_HDR_ID }, null) 
                        @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.F_GiaoHangTralai, "DeliveryCancel", "Bill", new { id = item.BILL_HDR_ID }, null)
                        @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.Print, "Report", new { id = item.BILL_HDR_ID }, new { target = "_blank" })

                    }
                    @if (Contant.DANG_GIAO_HANG_TRA.Equals(item.STATUS.Trim()))
                    {
                        @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.F_TraHangThanhCong, "DeliveryCancelComplete", "Bill", new { id = item.BILL_HDR_ID }, null)
                        @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.Print, "Report", new { id = item.BILL_HDR_ID }, new { target = "_blank" })

                    }
                    @if (Contant.TRA_THANH_CONG.Equals(item.STATUS.Trim()))
                    {
                        @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.View, "Details", "Bill", new { id = item.BILL_HDR_ID }, null)
                        @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.Print, "Report", new { id = item.BILL_HDR_ID }, new { target = "_blank" })

                    } 
                     
                </td>
            </tr>
        }
    </tbody>

</table>
