@model Chuyenphatnhanh.Models.COMMON_CODE

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>COMMON_CODE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.COMMON_CODE_VALUE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMMON_CODE_VALUE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMMON_CODE_DESC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMMON_CODE_DESC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PARENT_CODE_VALUE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PARENT_CODE_VALUE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMMON_CODE1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMMON_CODE1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DELETE_FLAG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DELETE_FLAG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REG_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REG_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOD_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOD_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REG_UID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REG_UID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER_MST.USER_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_MST.USER_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER_MST1.USER_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_MST1.USER_NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.COMMON_CODE_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
