@model Chuyenphatnhanh.Models.RoleMstForm

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ROLE_MST</h4>
    <hr />
    <dl class="dl-horizontal">
         

        <dt>
            @Html.DisplayNameFor(model => model.TYPE_ROLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TYPE_ROLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>

    </dl>
     @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.DELETE_FLAG)
        @Html.HiddenFor(model => model.MOD_USER_NAME)
        @Html.HiddenFor(model => model.REG_USER_NAME)
        @Html.TextBoxFor(model => model.MOD_DATE, "{0:dd/MM/yyyy HH:mm:ss.fff}", htmlAttributes: new { @type = "hidden" })
        @Html.TextBoxFor(model => model.REG_DATE, "{0:dd/MM/yyyy HH:mm:ss.fff}", htmlAttributes: new { @type = "hidden" })

        @Html.HiddenFor(model => model.ROLE_ID)
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
