@model Chuyenphatnhanh.Models.RoleMstForm

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 

<div>
    <h4>ROLE_MST</h4>
    <hr />
    <dl class="dl-horizontal">
         

        <dt>
            @Html.DisplayNameFor(model => model.TYPE_ROLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TYPE_ROLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ROLE_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
