@model IEnumerable<Chuyenphatnhanh.Models.RoleMstForm>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.TYPE_ROLE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DESCRIPTION)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.TYPE_ROLE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DESCRIPTION)
                </td>
                <td>

                    @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.Edit, "Edit", new { id = item.ROLE_ID }) |
                    @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.View, "Details", new { id = item.ROLE_ID }) |
                    @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.Delete, "Delete", new { id = item.ROLE_ID })
                </td>
            </tr>
        }
    </tbody>
</table>
