<!DOCTYPE html>
<html lang="@Culture">
<head>
    <meta content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @model Chuyenphatnhanh.Models.FormBase
</head>
<body>

    @{
        var _session = (Operator)Session[Chuyenphatnhanh.Util.Contant.SESSIONLOGED];
        if (_session == null)
        {
            _session = new Operator();
        }
    }
    <div class="left-menu Roboto-Light ng-scope" ng-controller="LeftMenuCtrl as leftmenu">
        <div class="wap-menu">
            <div class="logo">
                <select onchange="changeLanguage(this)" class="chosen-select-lang" name="lang" style="margin-top:15px ">
                    <option value="en-US" @(GlobalHelper.CurrentCulture == "en-US" ? "selected=\"selected\"" : "")>English</option>
                    <option value="vi-VN" @(GlobalHelper.CurrentCulture == "vi-VN" ? "selected=\"selected\"" : "")>Việt nam</option>
                </select>
                <div class="btn-close-mn visible-xs"><i class="fa fa-close"></i></div>
            </div>
            <div class="user-info">
                <div class="brief-info">
                    <div class="full-width">
                        <div id="show-md-avatar" class="avarta" data-toggle="modal" data-target="#avarta_modal" style="cursor: pointer">
                            <img src="~/Content/images/1.png" title="avata" />
                        </div>
                        <div class="info">
                            <p class="name Roboto-Regular" style="font-size: 14px">
                                @_session.UserName - @_session.NameUser
                                <input type="hidden" id="txtClientID" name="txtClientID" value="@_session.UserId">
                            </p>
                            <div class="menu-user">
                                <div class="col-xs-6">
                                    <a style="text-decoration: none" href="@Url.Action("Details", "UserMst" , new { id = _session.UserId })">
                                        <img src="~/Content/images/icon-user.png">
                                        @Chuyenphatnhanh.Content.Texts.RGlobal.Infomation

                                    </a>
                                    <!-- ngIf: (leftmenu.currentID == 9) -->
                                </div>
                                <div class="col-xs-6">
                                    <a style="text-decoration: none" href="@Url.Action( "Logout", "Login")">
                                        <img src="~/Content/images/ic-logout.png">
                                        @Chuyenphatnhanh.Content.Texts.RGlobal.Logout
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="menu">
                <ul>
                    <li class=" pst-tootip">
                        <a href="@Url.HttpRouteUrl(this.Culture==GlobalHelper.DefaultCulture ? "Default" : "LocalizedDefault",new { lang=GlobalHelper.CurrentCulture, action="Index", controller="Home"})">
                            <span class="icon"><i class="fa fa-info-circle"></i></span>
                            @Chuyenphatnhanh.Content.Texts.RGlobal.Home
                        </a>
                    </li>
                    <li id="MenuViewByStatus" class="pst-tootip">
                        <a href="@Url.HttpRouteUrl(this.Culture==GlobalHelper.DefaultCulture ? "Default" : "LocalizedDefault",new { lang=GlobalHelper.CurrentCulture, action="Index", controller="Bill"})">
                            <span class="icon"><i class="fa fa-list-alt"></i></span>
                            Quản lý đơn hàng
                        </a>
                        <i class="fa fa-plus toggle"></i>
                        <div class="sub_menu" style="display:none">
                            <ul class="">
                                <li class="pst-tootip">
                                    <a href="@Url.HttpRouteUrl(this.Culture==GlobalHelper.DefaultCulture ? "Default" : "LocalizedDefault",new { lang=GlobalHelper.CurrentCulture, action="Create", controller="Bill"})">
                                        <span class="icon"><i class="fa fa-info-circle"></i></span>
                                        @Chuyenphatnhanh.Content.Texts.RGlobal.F_TaomoiDonHang
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class=" pst-tootip">
                        <a href="@Url.HttpRouteUrl(this.Culture==GlobalHelper.DefaultCulture ? "Default" : "LocalizedDefault",new { lang=GlobalHelper.CurrentCulture, action="Index", controller="BranchMst"})">
                            <span class="icon"><i class="fa fa-info-circle"></i></span>
                            @Chuyenphatnhanh.Content.Texts.RGlobal.F_Branch_manager
                        </a>
                    </li>
                    <li class=" pst-tootip">
                        <a href="@Url.HttpRouteUrl(this.Culture==GlobalHelper.DefaultCulture ? "Default" : "LocalizedDefault",new { lang=GlobalHelper.CurrentCulture, action="Index", controller="UserMst"})">
                            <span class="icon"><i class="fa fa-info-circle"></i></span>
                            @Chuyenphatnhanh.Content.Texts.RGlobal.F_UserMst_manager
                        </a>
                    </li>
                    <li class=" pst-tootip">
                        <a href="@Url.HttpRouteUrl(this.Culture==GlobalHelper.DefaultCulture ? "Default" : "LocalizedDefault",new { lang=GlobalHelper.CurrentCulture, action="Index", controller="CustMst"})">
                            <span class="icon"><i class="fa fa-info-circle"></i></span>
                            @Chuyenphatnhanh.Content.Texts.RGlobal.F_CustMstManager
                        </a>
                    </li>
                    <li class=" pst-tootip">
                        <a href="@Url.HttpRouteUrl(this.Culture==GlobalHelper.DefaultCulture ? "Default" : "LocalizedDefault",new { lang=GlobalHelper.CurrentCulture, action="Index", controller="DistrictMst"})">
                            <span class="icon"><i class="fa fa-info-circle"></i></span>
                            @Chuyenphatnhanh.Content.Texts.RGlobal.F_DistrictMst
                        </a>
                    </li>
                    <li class=" pst-tootip">
                        <a href="@Url.HttpRouteUrl(this.Culture==GlobalHelper.DefaultCulture ? "Default" : "LocalizedDefault",new { lang=GlobalHelper.CurrentCulture, action="Index", controller="WardMst"})">
                            <span class="icon"><i class="fa fa-info-circle"></i></span>
                            @Chuyenphatnhanh.Content.Texts.RGlobal.F_WardMst
                        </a>
                    </li>
                    <li class=" pst-tootip">
                        <a href="@Url.HttpRouteUrl(this.Culture==GlobalHelper.DefaultCulture ? "Default" : "LocalizedDefault",new { lang=GlobalHelper.CurrentCulture, action="Index", controller="SecRoleMst"})">
                            <span class="icon"><i class="fa fa-info-circle"></i></span>
                            @Chuyenphatnhanh.Content.Texts.RGlobal.F_SecRoleMst
                        </a>
                    </li>
                    <li class=" pst-tootip">
                        <a href="@Url.HttpRouteUrl(this.Culture==GlobalHelper.DefaultCulture ? "Default" : "LocalizedDefault",new { lang=GlobalHelper.CurrentCulture, action="Index", controller="RoleMst"})">
                            <span class="icon"><i class="fa fa-info-circle"></i></span>
                            @Chuyenphatnhanh.Content.Texts.RGlobal.F_RoleMst
                        </a>
                    </li>
                    <li class=" pst-tootip">
                        <a href="@Url.HttpRouteUrl(this.Culture==GlobalHelper.DefaultCulture ? "Default" : "LocalizedDefault",new { lang=GlobalHelper.CurrentCulture, action="Index", controller="Report"})">
                            <span class="icon"><i class="fa fa-info-circle"></i></span>
                            @Chuyenphatnhanh.Content.Texts.RGlobal.F_Report
                        </a>
                    </li>
                </ul>
            </div>
            <div class="pageface">
                <div class="title">

                </div>
                <div class="ifr-facebook">
                    <div class="fb-page fb_iframe_widget">
                        <span style="vertical-align: bottom; width: 320px; height: 420px;">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wap-top-menu">
        <div>
            <div ng-controller="QuickSearchCtrl as quickSearch" class="toolbar ng-scope">
                <div class="menu-btnmain out"><i class="fa fa-bars"></i></div>
                <div class="toolbar-content">

                    <div class="search pull-right">
                        <div class="hip-search">
                            <form action="/@GlobalHelper.CurrentCulture/Bill/Search">
                                <input type="text" placeholder="Mã ĐH" id="search_keyword" class="col-xs-12" name="search_keyword">
                                <button class="button_search icon_search"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="h-content ct-donhang">
                <div class="container">
                    <div class="row message">
                        <div class="col-md-8 col-xs-12 center">
                            <div class="msg">
                                @ViewData[Chuyenphatnhanh.Util.Contant.MESSAGESUCCESS]
                            </div>
                            <div class="error">
                                @ViewData[Chuyenphatnhanh.Util.Contant.MESSSAGEERROR]
                                @Html.ValidationMessageFor(modle => modle.MessageError, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    @RenderBody()
                </div>
            </div>
            <div id="ajax-wall" class="ajax-wall" style="display: block;">
                <img class="centerScreen" src="~/Content/images/ghn-loader.gif" alt="" border="0">
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</body>
</html>
