@model Chuyenphatnhanh.Models.WardMstForm

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <ul class="ul-box">
        <li class="col-md-8 col-xs-12 center">
            @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>WARD_MST</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.DISTRICT_ID, "DISTRICT_ID", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="frm-edit-client col-md-8">
                        @Html.DropDownListFor(model => model.DISTRICT_ID, ViewBag.DISTRICT_ID as List<SelectListItem>, string.Empty, htmlAttributes: new { @class = "col-xs-12  chosen-select" })
                        @Html.ValidationMessageFor(model => model.DISTRICT_ID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.WARD_NAME, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="frm-edit-client col-md-8">
                        @Html.EditorFor(model => model.WARD_NAME, new { htmlAttributes = new { @class = "col-xs-12" } })
                        @Html.ValidationMessageFor(model => model.WARD_NAME, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="frm-edit-client">
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "link-back" })<input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </li>
</ul>
</div>
