@model IEnumerable<Chuyenphatnhanh.Models.WardMstForm>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layoutlist.cshtml";
}
 

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WARD_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DISTRICT_NAME)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
        
                <td>
                    @Html.DisplayFor(modelItem => item.WARD_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DISTRICT_NAME)
                </td>
                <td> 
                    @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.Edit, "Edit", new { id = item.WARD_ID }) |
                    @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.View, "Details", new { id = item.WARD_ID }) |
                    @Html.ActionLink(Chuyenphatnhanh.Content.Texts.RGlobal.Delete, "Delete", new { id = item.WARD_ID })
            
                </td>
            </tr>
        }
    </tbody>
</table>
